@tailwind base;
@font-face {
  font-family: 'Mcs_Swer_Al_Quran_2';
  src: url('/public/fonts/Mcs_Swer_Al_Quran_2.ttf') format('truetype');
}

@font-face {
  font-family: 'QuranSurah01-w1yO6';
  src: url('/public/fonts/QuranSurah01-w1yO6.ttf') format('truetype');
}

@font-face {
  font-family: 'quran_common';
  src: url('/public/fonts/quran_common.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplaySC-Regular';
  src: url('/public/fonts/PlayfairDisplaySC-Regular.otf') format('truetype');
}

.ap-input,
.ap-suggestion,
.ap-address {
  color: green;
  font-weight: 900;
}

input::placeholder {
  color: green;
}

.ap-icon-pin svg,
.ap-icon-clear svg,
.ap-suggestion-icon svg,
.ap-suggestion-icon:hover svg {
  fill: green;
  stroke: green;
}

.select option {
  margin: 40px;
  background: green;
  color: green !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
@tailwind components;
@tailwind utilities;
